/* Cabeçalho */
header {
    background-color:#fff;
}
header .logo {
    padding: 7px 0;
    float:left;
    margin:3px 0
}
header .logo a {
    display:block;
    text-decoration:none
}
header .tel {
    font-size:20px;
    line-height:36px;
    margin:15px 20px 0 0;
    text-align:right
}
header .tel a {
    text-decoration:none;
    color:#fff
}

@font-face{
    font-family: monteserrat-regular;
    src : url(assets/fonts/Montserrat-Regular.ttf);
}

@font-face{
    font-family: monteserrat-light;
    src : url(assets/fonts/Montserrat-Light.ttf);
}

/* Menu */
.menu {
    font-family: monteserrat-regular;
    float:right;
    margin-top:20px
}
.menu-list {
    padding:0;
    margin:0
}
.menu .menu-list,.menu .sub-menu {
    list-style:none
}
.menu a {
    border: solid 3px transparent;
    transition: 0.3s all ease;
    font-weight: 600;
    font-size: 14px;
    color:#000;
    text-decoration:none;
    display:block;
    cursor:pointer
}
.menu > .menu-list > li {
    display:inline;
    position:relative
}
.menu > .menu-list > li > a {
    display:inline-block;
    padding:7px 12px;
    margin:0
}
.menu > .menu-list > li:hover > a {
    border: 3px solid red;
    border-radius: 10px;
}
.menu > .menu-list > li:hover > .sub-menu {
    display:block
}
.menu > .menu-list > li > .sub-menu {
    position:absolute;
    left:0;
    min-width:200px;
    z-index:100;
    display:none;
    padding:0
}
.menu > .menu-list > li > .sub-menu > li > a {
    padding:7px 20px;
    background:#284B8C
}
.menu > .menu-list > li > .sub-menu > li:hover > a {
    background:#000
}

.menu > .menu-list > li > .sub-menu-2{ 
 max-width: initial;
 width: 750px!important;  
 right: 0;  
 left: auto;
} 
.menu > .menu-list > li > .sub-menu-2 > li {
width: 250px; 
display: inline-block; 
float: left; 
} 
.menu > .menu-list > li > .sub-menu-2 > li > a{  
overflow: hidden; 
text-overflow: ellipsis;  
white-space: nowrap;  
padding: 15px 15px;  
font-size: 14px;  
font-weight: 300;  
transition: 0.6s all ease;
 color:#fff;
}

/* Menu Mobile */
.slicknav_btn {
    background-color:#284B8C
}
.slicknav_menu {
    background-color:#fff
}
.slicknav_brand a {
    color:#284B8C;
    font-size:14px;
    display:block;
    padding:0px 5px;
    font-weight:bold
}
.slicknav_brand a:active, .slicknav_brand a:hover, .slicknav_brand a:focus {
    text-decoration:none
}

.muda-tamanho{
    transition: 0.2s all ease;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}



/* Rodapé */
footer {
    margin-top: 24px;
    font-family:  monteserrat-regular;
    padding:30px 15px;
    background-color:#fff;
    color:#000;
}
footer h5 {
    font-size:14px
}
footer ul {
    list-style-type:none;
    padding:0px
}
footer a {
    text-decoration:none
}
footer .footer-copyright {
    padding:5px 0;
}

footer .footer-copyright a {
    text-decoration:none;
}
footer .ass-q {
    text-align:right;
    font-size:14px;
    margin:0
}
footer .footer-content{
    display: inline-block;
}
footer .footer-content a{
    color: #000;

}
footer .div-border{
    margin-bottom: 15px;
    width: 100%;
    height: 1px;
    background-color: #000;
}

/* Main */
main.main-content h1 {
    padding-bottom:8px;
    margin:8px 0 0 0;
    border-bottom:1px solid #efefef;
    font-size:28px
}
main h2 {
    font-size:22px
}
main.main-content p strong {
    font-weight:normal
}

/* Sidebar */
.sidebar-main h3 {
    padding:0;
    margin:0 0 2px
}
.sidebar-main h3 a {
    display:block;
    text-align:center;
    padding:10px 0;
    text-decoration:none;
    color:#fff
}
.sidebar-main ul {
    padding:0;
    margin:0
}
.sidebar-main ul li {
    list-style-type:none;
    margin:3px 0;
}
.sidebar-main ul li a {
    font-size:12px;
    text-decoration:none;
    display:block;
    padding:8px 0 8px 6px;
    border-left:2px solid #cccccc;
}
.sidebar-main ul li a:hover {
    background-color:#f5f5f5;
}
.active-link-sidebar {
    font-weight:bold;
}

/* Ajustes Mobile */
@media screen and (max-width: 40em) {
    .box-btn-modal-orcamento, .header-container-main {
        display:none
    }
}