/* Principais Cores */
main.main-content h1, main.main-content h2, main.main-content h3, main.main-content h4, main.main-content h5, 
.sidebar-main ul li a, .box-btn-modal-orcamento p strong {
    color:#284B8C
}
.sidebar-main h3 {
    background-color:#284B8C
}
.sidebar-main ul li a:hover {
    border-color:#ccc #ccc #ccc #284B8C
}
.active-link-sidebar {
    background: #ffe6cf;
    color: #c3650e;
}

/* Contate-nos */
.contate-nos {
    border-top:1px solid #e4e4e4;
    border-bottom:1px solid #e4e4e4;
    color:#5a5a5a;
    margin-bottom:10px
}
.contate-nos h3 {
    font-size:20px;
    margin:15px 0
}