.main-content{
	margin-bottom: -30px;
	background-color: #F5F5F5;
}
.main-content img{
	padding: 20px;
}

.empresa-text p{
	text-align: justify;
	color: #555555;
	font-size: 16px;
	font-family: monteserrat-light;
	margin: 0 0 24px 0;
	padding-bottom: 10px;
}