.slide-content{
	position: relative;
	bottom: 380px;
	font-family: monteserrat-light;
	display: block;
}

.banner-home:active{
	cursor: grabbing;
}

.slide-content h2{
	text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 5px;
	margin: 0;
	line-height: 66px;
	font-size: 60px;
	color: #fff;
	transition: 0.2s all ease;
	word-spacing: 0px;
}

.slide-content p{
	font-size: 20px;
	color: #fff;
	font-weight: 600;
	padding-bottom: 30px;
}

.slide-content a{
	color: #fff;
	text-decoration: none;
	padding: 20px 30px;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
	background-color:  #BC2944;
	border-radius: 30px;
}

.banner-icons{
	font-family: monteserrat-light;
	width: 100%;
	height: auto;
	background-color: #284B8C;
	margin-top: -213px;
}

.icons-content{
	padding:10px 60px;
	color: #fff;
}

.icons-content i{
	display: inline-block;
	font-size: 50px;
	position: relative;
	right: 80px;
	top: 70px;
}

.icons-content h4{
	margin: 0;
	font-size: 20px;
	line-height: 22px;
}

.icons-content p{
	margin: 5px 0;
	font-size: 14px;
	line-height: 25px;
	min-height: 	40px;
}

.procuts-sesh{
	padding: 30px;
	width: 100%;
	font-family: monteserrat-regular;
}

.procuts-sesh h2{
	font-size: 40px;
	letter-spacing: 3px;
	text-transform: uppercase;
	line-height: 44px;
	margin: 	0;
}

.procuts-sesh p{
	font-size: 14px;
	color: #555555;
	padding-bottom: 	30px;
}
.buttons-products a{
	margin: 	23px;
	padding: 10px 40px;
	color: 	#fff;
	text-decoration: 	none;	
	background-color: 	 #BC2944;
	border-radius: 	20px;
}

.img-grid{
	transition: 0.5s all ease; 
	display: grid;
	grid-template-columns: auto auto auto auto;
	width: 100%;
	margin : 0 auto;

}


.empresa-sect{
	font-family: monteserrat-light;
	width: 100%;
	height: auto;
	background-color: #284B8C;
	padding: 50px 0 50px 0;
}

.text-empresa{
	width: 620px;
	background-color: #fff;
	padding: 50px;
	position: absolute;
	top: 100px;
	right: 30px;
}

.text-empresa h3{
	letter-spacing: 3px;
	text-transform: uppercase;
	font-size: 40px;
	color:  #333333;
	margin: 12px 0;
	line-height: 44px;
}

.text-empresa span{
	font-size: 14px;
	color: #555555;
}

.text-empresa p{
	font-size: 14px;
	color: #555555;
	margin-top: 20px;
	margin-bottom: 40px;
	line-height: 25.2px;
}

.text-empresa a{
		color: #fff;
	text-decoration: none;
	padding: 20px 30px;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
	background-color:  #BC2944;
	border-radius: 30px;
}

.produtos2{
	font-family: monteserrat-light;
}

.produtos2 h2{
	text-align: center;
	padding: 25px;
		letter-spacing: 3px;
	text-transform: uppercase;
	font-size: 40px;
	color:  #333333;
	margin: 12px 0;
	line-height: 44px;
}

.produto-grid{
	position: relative;
	overflow-x: hidden;
	display: grid;
	grid-template-columns: auto auto;
		width: 100%;
	margin : 0 auto;
}
.produto-grid2{
	position: relative;
	overflow-x: hidden;
	display: grid;
	grid-template-columns: auto auto;
		width: 100%;
	margin : 0 auto;
}




.produto-grid img:hover{
	filter: brightness(40%);
}

.empresa-sect iframe{
	width : 100%;
	height: 650px;
}

.img-text{
	left: 13px;
	z-index: 999;
	display: none;
	top: 560px;
	font-family: monteserrat-regular;
	padding: 16px;
	color: #fff;
	position: absolute;
}

.produto-grid a:hover .img-text {
	display: block;
}
.produto-grid2 a:hover .img-text {
	overflow: hidden;
	display: block;
}

.img-text h4{
	font-size: 20px;
	font-weight: 600;
	margin: 0;
}

.atuacao{
	font-family: monteserrat-light;
	padding: 20px 0;
}

.text-atuacao h3{
	text-transform: uppercase;
	font-size: 40px;
	letter-spacing: 3px;
	line-height: 44px;
	color: #333333;
	margin-bottom: 12px;

}

.text-atuacao-text p{
	font-size: 14px;
	color: #555555;
}


.boxleft{
	box-shadow : 1px 1px 10px 3px rgba(0,0,0,.1);
	padding:  10px 20px 20px 20px;
	color: #555555;
	text-align: left;
}

.boxleft p{
	padding: 0 0 0 30px;
}

.boxleft i{
	font-size: 30px;
	color: #ccc;
}

.boxleft img {
	border-radius: 50%;
	padding-right: 5px;
}

.boxmid{
	box-shadow : 1px 1px 10px 3px rgba(0,0,0,.1);
	padding:  10px 40px 40px 20px;
	color: #555555;
	text-align: left;
}

.boxmid i{
	font-size: 30px;
	color: #ccc;
}

.boxmid p{
	padding: 10px 0 10px 30px;
}

.boxmid img{
	border-radius: 50%;
	padding-right: 5px;
}


.boxright{
		box-shadow : 1px 1px 10px 3px rgba(0,0,0,.1);
	padding:  10px 20px 20px 20px;
	color: #555555;
	text-align: left;
}

.boxright i{
		font-size: 30px;
	color: #ccc;
}

.boxright p{
	padding: 0 0 0 30px;
}

.boxright img{
	border-radius: 50%;
	padding-right: 5px;
}

.text-empresa2{
	width: 620px;
	background-color: #fff;
	padding: 20px;
	position: absolute;
	top: 53px;
	right: 30px;
}

.text-empresa2 h3{
	letter-spacing: 3px;
	text-transform: uppercase;
	font-size: 40px;
	color:  #333333;
	margin: 12px 0;
	line-height: 44px;
}

.text-empresa2 span{
	font-size: 14px;
	color: #555555;
}

.text-empresa2 p{
	font-size: 14px;
	color: #555555;
}

.text-empresa2 a{
		color: #fff;
	text-decoration: none;
	padding: 20px 30px;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
	background-color:  #BC2944;
	border-radius: 30px;
}

.form-group{
	margin-bottom: 0px!important;
}

.icons-contato i{
	position: relative;
	top: 7px;
	font-size: 20px;
}

.icons-contato p{
	color: #fff;
}

.ico1{
	color: #fff;
	background-color: #284B8C;
	padding: 3px;
	border-radius: 30px;
}



#img-1 a:hover{
	display: block;
}

.grid-img img:hover{
	filter: brightness(30%);
	transform: scale(0.9);
	transition: all 0.2s ease;
} 




@media screen and (max-width: 1300px){
	.img-grid{
	grid-template-rows: auto auto auto;
	grid-template-columns: auto auto auto;
	}
	.img-grid img{
		width: 100%;
	}
}
@media screen and (max-width: 1200px){
	.text-empresa{
		top: 30px;
	}
}

@media screen and (max-width: 991px){
		.slide-content{
		bottom: 300px;
	}
	.text-empresa{
		position: initial;
		width: 100%;
	}
	.text-empresa2{
		position: initial;
		width: 100%;
	}
		.mobile-center{
		text-align: center;
	}
}



@media screen and (max-width: 900px){
	.img-grid{
	grid-template-rows: auto auto auto;
	grid-template-columns: auto auto;
	}
	.img-grid img{
		width: 100%;
	}
}

@media screen and (max-width: 775px){
	.icons-content i{
		margin: 0 2%;
	}
}

@media screen and (max-width: 665px){
	.slide-content{
		bottom: 240px;
	}
}

@media screen and (max-width: 580px){
		.slick-prev, .slick-next{
	display: none!important;
	}
}

@media screen and (max-width: 425px){


	.banner-icons{
		margin-top: -207px;
	}
	.slide-content h2{
		font-size: 42px;
	}
	.slide-content{
		bottom: 180px;
	}
	.slide-content a {
		padding: 14px 16px;
	}

	.slide-content p{
		padding-bottom: 0;
	}

	.icons-content{
		padding: 10px 70px;
	}

}

@media screen and (max-width: 375px){
	.slide-content h2{
		font-size: 35px;
	}
	.banner-icons{
		margin-top: -207px;
	}
}

@media screen and (max-width: 320px){
	.icons-content i{
		right: 70px;
	}	

	.slide-content h2 {
    font-size: 27px
	}

}